@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href = "site.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="C:\Users\colac\source\repos\Cakeryz\Cakeryz\wwwroot\js\site.js"></script>
</head>

<body>
<div class= "loader-wrapper">
    <span class = "loader"><span class="dot"></span></span>
</div>
<script type="text/javascript">
    $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
    });
</script>
   <main class ="main">
       <div id="background">
           <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg floating " id="containerFlowIn">
               <h1 style="font-family: 'Freestyle Script';font-size:80px;font-weight:400; opacity:1;"><span id="delText">Chocolate Mudcake </span></h1>
               <p>Our molten mud chocolate cake is mouth-watering and decadent. It's a dense cake which can satisfy in just one slice! </p>
               <p>Allergn Information: Contains Dairy and Eggs.</p>
           </div>
       </div>
       </main>
       </body>
       </html>