@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <link rel ="stylesheet" href = "site.css"/>
</head>

<body>
<h1 style="font-family: 'Freestyle Script';font-size:80px;font-weight:400;text-align:center;"><span id="delText" style="border-bottom: 2px solid #ffffff">Our Products </span></h1>
       @* <div id="011">
            <div id="012" class="scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
                <h1 class="lead trans" style="font-size: 50px"><span style="border-bottom: 2px solid">Our Products</span></h1>
            </div>
        </div>
        <div class="parent" id="001">
            <div id="002" class="lead scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
                <h2 class="lead trans-3" style="font-size: 35px">Punky Road</h2>
                <br>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 trans-4">
                        <p style="text-align: justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lectus libero. Ut tristique erat nec semper rhoncus. Proin sed tempor nunc. Cras sed lobortis sapien. Phasellus eget pulvinar nisi, vitae porta nulla. Proin rutrum erat nec purus tempus feugiat. Sed vitae efficitur lectus. Donec pharetra tellus leo, vitae sodales enim tincidunt quis. Proin eu volutpat arcu. Fusce vulputate elit ut ligula mollis porta.

                            Ut vel quam quis augue auctor interdum dignissim sed diam. Etiam pellentesque leo a ante blandit dignissim. Mauris consectetur auctor enim, sed mattis tortor aliquam id. Proin at tempus arcu. Etiam commodo, dui eu egestas sagittis, lorem odio ultrices est, eget rutrum tellus metus at odio. Curabitur in nisi felis. Nunc consequat pretium nisl. Suspendisse quis felis in magna pellentesque ultricies.
                        </p>
                    </div>
                    <div class="col-lg-5"> <img class="" src="" style="height: 140px; margin: 10px" alt="Punky Road"></div>
                </div>
            </div>
        </div>
        <div class="parent" id="003">
            <div id="004" class="lead scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
                <h2 class="lead trans-3" style="font-size: 35px"></h2>
                <br>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 trans-4">
                        <p style="text-align: justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lectus libero. Ut tristique erat nec semper rhoncus. Proin sed tempor nunc. Cras sed lobortis sapien. Phasellus eget pulvinar nisi, vitae porta nulla. Proin rutrum erat nec purus tempus feugiat. Sed vitae efficitur lectus. Donec pharetra tellus leo, vitae sodales enim tincidunt quis. Proin eu volutpat arcu. Fusce vulputate elit ut ligula mollis porta.

                            Ut vel quam quis augue auctor interdum dignissim sed diam. Etiam pellentesque leo a ante blandit dignissim. Mauris consectetur auctor enim, sed mattis tortor aliquam id. Proin at tempus arcu. Etiam commodo, dui eu egestas sagittis, lorem odio ultrices est, eget rutrum tellus metus at odio. Curabitur in nisi felis. Nunc consequat pretium nisl. Suspendisse quis felis in magna pellentesque ultricies.
                        </p>
                    </div>
                    <div class="col-lg-5"> <img class="" src="" style="height: 140px; margin: 10px" alt=""></div>
                </div>
            </div>
        </div>
        <div class="parent" id="005">
            <div id="006" class="lead scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
                <h2 class="lead trans-3" style="font-size: 35px">Orange Orange</h2>
                <br>
                <div class="row trans-3">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 trans-4">
                        <p style="text-align: justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lectus libero. Ut tristique erat nec semper rhoncus. Proin sed tempor nunc. Cras sed lobortis sapien. Phasellus eget pulvinar nisi, vitae porta nulla. Proin rutrum erat nec purus tempus feugiat. Sed vitae efficitur lectus. Donec pharetra tellus leo, vitae sodales enim tincidunt quis. Proin eu volutpat arcu. Fusce vulputate elit ut ligula mollis porta.

                            Ut vel quam quis augue auctor interdum dignissim sed diam. Etiam pellentesque leo a ante blandit dignissim. Mauris consectetur auctor enim, sed mattis tortor aliquam id. Proin at tempus arcu. Etiam commodo, dui eu egestas sagittis, lorem odio ultrices est, eget rutrum tellus metus at odio. Curabitur in nisi felis. Nunc consequat pretium nisl. Suspendisse quis felis in magna pellentesque ultricies.
                        </p>
                    </div>
                    <div class="col-lg-5"> <img class="" src="" style="height: 140px; margin: 10px" alt=""></div>
                </div>
            </div>
        </div>
        <div class="parent" id="007">
            <div id="008" class="lead scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
                <h2 class="lead trans-3" style="font-size: 35px">Masterful Mellon</h2>
                <br>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 trans-4">
                        <p style="text-align: justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lectus libero. Ut tristique erat nec semper rhoncus. Proin sed tempor nunc. Cras sed lobortis sapien. Phasellus eget pulvinar nisi, vitae porta nulla. Proin rutrum erat nec purus tempus feugiat. Sed vitae efficitur lectus. Donec pharetra tellus leo, vitae sodales enim tincidunt quis. Proin eu volutpat arcu. Fusce vulputate elit ut ligula mollis porta.

                            Ut vel quam quis augue auctor interdum dignissim sed diam. Etiam pellentesque leo a ante blandit dignissim. Mauris consectetur auctor enim, sed mattis tortor aliquam id. Proin at tempus arcu. Etiam commodo, dui eu egestas sagittis, lorem odio ultrices est, eget rutrum tellus metus at odio. Curabitur in nisi felis. Nunc consequat pretium nisl. Suspendisse quis felis in magna pellentesque ultricies.
                        </p>
                    </div>
                    <div class="col-lg-5"> <img class="" src="" style="height: 140px; margin: 10px" alt=""></div>
                </div>
            </div>
        </div>
        <div class="parent" id="009">
            <div id="010" class="lead scroll-on-view position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-bg ">
                <h2 class="lead trans-3" style="font-size: 35px">Caramel Slice</h2>
                <br>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 trans-4">
                        <p style="text-align: justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut lectus libero. Ut tristique erat nec semper rhoncus. Proin sed tempor nunc. Cras sed lobortis sapien. Phasellus eget pulvinar nisi, vitae porta nulla. Proin rutrum erat nec purus tempus feugiat. Sed vitae efficitur lectus. Donec pharetra tellus leo, vitae sodales enim tincidunt quis. Proin eu volutpat arcu. Fusce vulputate elit ut ligula mollis porta.

                            Ut vel quam quis augue auctor interdum dignissim sed diam. Etiam pellentesque leo a ante blandit dignissim. Mauris consectetur auctor enim, sed mattis tortor aliquam id. Proin at tempus arcu. Etiam commodo, dui eu egestas sagittis, lorem odio ultrices est, eget rutrum tellus metus at odio. Curabitur in nisi felis. Nunc consequat pretium nisl. Suspendisse quis felis in magna pellentesque ultricies.
                        </p>
                    </div>
                    <div class="col-lg-5"> <img class="" src="assets/coneTopAsset 5.svg" style="height: 140px; margin: 10px" alt="Punky Road"></div>
                </div>
            </div>
        </div>*@
    </body>
    </html>