<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cakeryz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cakeryz.styles.css" asp-append-version="true" />
</head>
<body>
             <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/Images/Logo2.png"style="height:70px;width:auto"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 topnav">
                         <li class="nav-item">
                            <a style = "font-size:20px;color:black;"class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style = "font-size:20px;color:black;" class="nav-link " href="#About">About</a>
                        </li>
                        <li class="nav-item">
                            <a style = "font-size:20px;color:black;" class="nav-link " href= "#Contact">Contact Us</a>
                        </li>     
                         <li class="nav-item">
                            <a style = "font-size:20px;color:black;" class="nav-link " href= "#OurProducts">Our Products</a>
                        </li>

                    <li class="nav-item">
                        <a style="font-size:20px;color:black;" class="nav-link " asp-area="" asp-controller="Orders" asp-action="Create"> Orders</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size:20px;color:black;" class="nav-link " asp-area="" asp-controller="OrderProducts" asp-action="Index">Order Items</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size:20px;color:black;" class="nav-link " asp-area="" asp-controller="Products" asp-action="Index">Admin</a>
                    </li>
@*                         <li class="nav-item">
                            <a style = "font-size:20px;color:black;" class="nav-link" asp-controller="Customers" asp-area="" asp-page="/Customers/Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a style = "font-size:20px;color:black;" class="nav-link" asp-controller="Orders" asp-area="" asp-page="/Orders/Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a style = "font-size:20px;color:black;" class="nav-link"  asp-controller="Products" asp-area="" asp-page="/Products/Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a style = "font-size:20px;color:black;"class="nav-link" asp-controller="OrderProducts" asp-area="" asp-page="/OrderProducts/Index">Order Products</a>
                        </li>*@

                    </ul>
                    <partial name="_LoginPartial"/>               
                </div>
            </div>
        </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <footer class="position-relative text-center blockquote-footer" style="z-index: 15;">
            <div class="container-fluid" style="background-color:#a5aae6 ; border-top: 5px solid #9198e5; text-align:left; color:white;">
                <div class="container">
                   <div class="row">
                   <div class="col-lg-8 col-md-8 col-sm-12">
                       <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                       <p> Please note that not all our products are allergn freindly, please contact us if you have special requests. <br /> Some products may be seasonal.</p>
                   </div>
                   <div class="col-lg-4 col-md-4 col-sm-12">
                       <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
                       <a href="mailto:zcakery@outlook.com"> contact@TheCakery.com</a>
                       <br />
                       <a href="tel:0800-820-7234">0800-820-7234</a><br>
                   </div>
                   <br />
                   <div style="text-align:center;">
                   <p style="color: white"> <a href="#" class="hyperlink-top">Back to top</a> <br /> © 2022 Zara's Cakery. All rights reserved. Created by Zara Colaco </p>
                   </div>
               </div>
                </div>
            </div>
        </footer>
 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
