
@page
@model Index
@{
}
<!DOCTYPE html>
<html>
<style>

    .center {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 100px;
        border: 3px solid white;
        background-color: white;
    }
</style>

<div class="center">
    <h2> Thanks for contacting us! our team will get back to you as soon as possible </h2>
</div>


<head>
    <title>HTML Meta Tag</title>
    <meta http-equiv="refresh" content="3; url = /Home" />
</head>
<body>
    <p>Redirecting to Home Page</p>
</body>
</html>