@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
    <head></head>
     <body id = "window" >

     <br>
     <br>
             <h1 style="font-family:'Freestyle Script';font-size:60px;font-weight:200;">Chocolate Mud Cake</h1>
             <div class = "row">
                  <div  style="text-align:center;"class="column">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                   <p class="price">$45.00</p>
               <p>Our molten mud chocolate cake is mouth-watering and decadent. It's a dense cake which can satisfy in just one slice! </p>
               <p>Allergn Information: Contains Dairy and Eggs.</p>
               <p><button class="btn btn-secondary btn-block">Add to Cart</button></p>
               </div>
           <div class="column">
               <div style = "text-align:center;"class="content">
                   <img src="../Images/MudCake.png" alt="Chocolate Mud Cake" style="width:100%">
                   </div>
                    </div>
       </div>
       <br />
       <br />
       <br />

       </body>
</html>