
html {
    scroll-behavior: smooth;
    overflow:auto;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: var(--scrollbar);
}

::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0)
}

::-webkit-scrollbar-thumb {
    background: rgba(130,130,130,0.78);
    border-radius: 3.5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #515151;
    }
/*--------------*/

/* Navbar */
#navContainer {
    background-color:white;
    z-index: 4;
    display: inherit;
    position: fixed;
    right: 0;
    top: 100px;
    height: calc(var(--height)/1.2);
    overflow: scroll;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-bottom-color: rgb(178, 175, 175);
    border-left-color: rgb(178, 175, 175);
}

.navbarImg {
    width: 120px;
    padding-left:10px;
}

.nav-link {
    color: #6095CF;
}

/* Responsive Navbar sizing */
@media(max-height: 500px) {
    .nav-item {
        font-size: 18px;
    }
}

@media(min-height: 501px) {
    .nav-item {
        font-size: min(max(30px), 3.5vh);
    }
}

@media(max-width: 500px) {
    #navContainer {
        width: 100vw;
        padding: 15px;
        padding-right: 50px;
    }
}

@media(min-width: 501px) {
    #navContainer {
        width: 80vw;
        padding: 15px;
        padding-right: 50px
    }
}

@media(min-width: 700px) {
    #navContainer {
        width: 70vw;
        padding: 15px;
        padding-right: 50px
    }
}

@media(min-width: 950px) {
    #navContainer {
        width: 50vw;
        padding: 15px;
        padding-right: 50px
    }
}
/*-----End-----*/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        border-bottom: 3px solid transparent;
    }

        .topnav a:hover {
            border-bottom: 3px solid #a594f3;
        }

        .topnav a.active {
            border-bottom: 3px solid #ee74a8;
        }

.body {
    height: 100vw;
    width: 80vw;
    background-color: white;
}

.bodyContent {
    background-color: white;
    min-height: var(--height);
    width: 90vw;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}

.body-behind {
    width: 100vw;
    overflow: hidden;
    z-index: 5;
    position: fixed
}

.content-bg {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.7;
}


.main {
    padding-top: 60px;
}
/* Content scroll-in containers */
.parent {
    width: 100%;
}

.scroll-on-view {
    transition: all 1.5s;
}
/*--------------*/
/* Buttons */
.btn-secondary {
    background-color: #a594f3;
    border-color: #9198e5;
}

    .btn-secondary:hover {
        background-color: #ee74a8;
        border-color: #f180a9;
    }

.button-fixed {
    bottom: 0;
    position: fixed;
    right: 0;
    border-radius: 4px;
}
/*--------------*/
/* Hyperlink colors */
.hyperlink-top {
    color: #FFFFFF;
}

    .hyperlink-top:hover {
        color: black;
    }
/* opening */
.background {
    background: linear-gradient(#e66465, #9198e5);
/*    background: #d9e2f3;*/
    background-repeat: no-repeat;
    /* background-image: url('../Images/Background1.png');
    background-size: cover*/
}
.background2 {
    background: linear-gradient(#fff,#eac1fb);
    /*    background: #dbd9f3;*/
}


.full-width-div {
    position: absolute;
    width: 100%;
    left:0;
}
.lead trans-2{
    font-family:Arial;
}
/* Float to the right on screens that are equal to or less than 768px wide */
@media (max-width: 768px) {
    .float-right-sm {
        float: right;
    }
}

/* Float to the right on screens that are equal to or greater than 769px wide */
@media (min-width: 769px) {
    .float-right-lg {
        float: right;
    }
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    font-size: 1.6rem;
    color:black;
    padding: 1rem 0;
}
.ContactImage{
    padding-top:40px;
width:500px;
}
/*Footer*/
.page-footer {
    text-align: left;
    color: white;
    padding-top: 10px;
    background-color: #b6aaf6;
    border-top: 5px solid #a594f3
}
header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
}
.loader {
    position:absolute;
    top:50%; 
    left:40%; 
    margin-left: 10%;
    transform:translate3d(-50%,-50%,0);
}

.dot {
    width: 30px;
    height: 30px;
    background:white;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    animation: slide 4s infinite ease;
    animation-duration:4s
}

/*for n in (1..5) {
    .dot{nth-child({n}) animation-delay:(.1s * n);}
    background: red(#3ac, (50 * n));
}*/
@keyframes slide {
    0% {
        transform:scale(1);
        background:#79bce3
    
    }
    50% {
        opacity: .3;
        transform: scale(2);
        background: #a594f3
    }
    100% {
        transform:scale(1);
        background:#ee74a8
    }
}


.loader-wrapper{
    width:100%;
    height:100%;
    position:absolute;
    background-color:white;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;

}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}
#background {
    animation-name: color;
    animation-duration: 15s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes color {
    0% {
        opacity:1;
        background: linear-gradient(#e66465, #9198e5);
        background-size:cover;
    }
    25%{
        opacity:0.75;
    }
    50% {
        opacity:1;
        background: linear-gradient(#9198e5, #91cfef);
        background-size: cover;
    }
    75% {
        opacity: 0.75;
    }

    100% {
        opacity:1;
        background: linear-gradient(#e66465, #9198e5);
        background-size: cover;
    }

}
#rows {
    animation-name: text;
    animation-duration: 5s;
}

@keyframes text {
    from {
        margin-top: 400px;
    }

    to {
        margin-top: 0px;
    }
}